
@{
    ViewBag.Title = "DanhSachHang";
    Layout = "~/Areas/PrivateShop/Views/Shared/_Layout.cshtml";
}

<div class="container-fluid pt-4 px-4">
    <div class="bg-light text-center rounded p-4">
        <div class="d-flex align-items-center justify-content-between mb-4">
            <h6 class="mb-0">Tất cả mặt hàng bán</h6>
        </div>
        <div class="row dinhdangalldanhsachhang">
            <div class="danhsachhang-all">
                <div><span class="tensp">Khẩu trang y tế 4 lớp</span></div>
                <img src="https://tse3.mm.bing.net/th?id=OIP.pqB8tk_90HSIEqFFOGHLdgHaFj&pid=Api&P=0" />
                <div class="giadanhdachhang-all"><span class="namegia-danhsachhang">Giá: <span class="gia-danhsachhang">50.000</span></span></div>
                <div class="row">
                    <div class="col-md-4">
                        <button type="button" class="btn btn-primary m-2 setboder_radius_0">Sửa</button>
                    </div>
                    <div class="col-md-4">
                        <button type="button" class="btn btn-danger m-2 setboder_radius_0">Xóa</button>
                    </div>
                    <div class="col-md-4">
                        <button type="button" class="btn btn-secondary m-2 setboder_radius_0">Ẩn</button>
                    </div>
                </div>
            </div>
            <div class="danhsachhang-all">
                <div><span class="tensp">Bếp ga taka</span></div>
                <img src="https://victoryplaza.vn/media/product/3523_342_bep_gas_hong_ngoai_taka_hg8.jpg" />
                <div class="giadanhdachhang-all"><span class="namegia-danhsachhang">Giá: <span class="gia-danhsachhang">2.550.000</span></span></div>
                <div class="row">
                    <div class="col-md-4">
                        <button type="button" class="btn btn-primary m-2 setboder_radius_0">Sửa</button>
                    </div>
                    <div class="col-md-4">
                        <button type="button" class="btn btn-danger m-2 setboder_radius_0">Xóa</button>
                    </div>
                    <div class="col-md-4">
                        <button type="button" class="btn btn-success m-2 setboder_radius_0">Hiện</button>
                    </div>
                </div>
            </div>
            <div class="danhsachhang-all">
                <div><span class="tensp">Cam sạch Việt Nam</span></div>
                <img src="https://static.perfumista.vn/note/61_slide_2" />
                <div class="giadanhdachhang-all"><span class="namegia-danhsachhang">Giá: <span class="gia-danhsachhang">70.000</span></span></div>
                <div class="row">
                    <div class="col-md-4">
                        <button type="button" class="btn btn-primary m-2 setboder_radius_0">Sửa</button>
                    </div>
                    <div class="col-md-4">
                        <button type="button" class="btn btn-danger m-2 setboder_radius_0">Xóa</button>
                    </div>
                    <div class="col-md-4">
                        <button type="button" class="btn btn-secondary m-2 setboder_radius_0">Ẩn</button>
                    </div>
                </div>
            </div>
            <div class="danhsachhang-all">
                <div><span class="tensp">Chảo bầu chống dính</span></div>
                <img src="https://cdn.tgdd.vn/Products/Images/2403/217084/bhx/chao-khong-dinh-quantum-kim-hang-26cm-202001090844028674.jpg" />
                <div class="giadanhdachhang-all"><span class="namegia-danhsachhang">Giá: <span class="gia-danhsachhang">200.000</span></span></div>
                <div class="row">
                    <div class="col-md-4">
                        <button type="button" class="btn btn-primary m-2 setboder_radius_0">Sửa</button>
                    </div>
                    <div class="col-md-4">
                        <button type="button" class="btn btn-danger m-2 setboder_radius_0">Xóa</button>
                    </div>
                    <div class="col-md-4">
                        <button type="button" class="btn btn-secondary m-2 setboder_radius_0">Ẩn</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

